*{
    padding: 0;
    margin: 0;
}
html,body
{
    margin:0;
    padding:0;
    background-color: rgb(236, 255, 206);
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
nav ul{
    background-color: rgb(92, 92, 92);
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li{
    display:inline-flex;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover {
    background-color: black;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.contingut{
    display: flex;
    margin: 60px;
}
.seccions {
    display: flex;
    align-items:  center;
}
.form-register{
    width: 400px;
    padding:  40px;
    margin: left;
    margin-top: 10px;
}
.controls{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
}